</!DOCTYPE html>
<html>
<head>
	<title>abstract</title>
</head>
<body>
<h1>文本摘要系统</h1>
<hr>
	<style>
	#left {
	    height:300px;
	    width:500px;
	    float:left;
	    padding:5px;	      
	}
	#right {
		height:300px;
	    width:400px;
	    float:left;
	    padding:5px;	 	 
	}
	</style>
	<div id="left">
		<textarea rows="20" cols="75" placeholder="请输入文字"></textarea>
		<br>
		<input type="submit" value="提交">
	</div>
	<div id="right">
		<textarea rows="20" cols="75" placeholder="摘要内容"></textarea>
		<br>
	
	<br>
	</div>




</body>



